let mapleader=" "

:set relativenumber
:set number
:set NERDTree
:set vim-paragraph-motion
:set commentary
:set which-key
:set notimeout

let g:WhichKey_ShowVimActions = "true"
let g:WhichKey_DefaultDelay = 400

nnoremap <leader>F :action FindInPath<CR>
nnoremap <leader><leader> :action GotoFile<CR>
nnoremap <leader>rf :action RecentFiles<CR>
nnoremap <leader>rn :action RenameElement<CR>

nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>
